.cardview{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5%;
    border: 2px solid black;
}



.cardview .image img {
    width: 400px;
   
}

.cardview .description{
    display: flex;
    flex-direction:column;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;


    width: 70%;
}

.tech{
    margin: 2% 0;
}

.tech button{
    margin-right: 2%;
    padding: 10px;
    background: transparent;
    border: 2px solid black;
}
.cardtitle{
    margin-bottom: 1%;
    font-size: 48px;
    font-weight: bold;
}

.read{
    margin: 2% 0;
}

.read button {
    padding: 10px 30px;
    background: black;
    color: white;
}

.project{
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px){

    .cardview{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        border: 2px solid black;
        align-items: center;
    }
    
    .cardview .description{
        display: flex;
        flex-direction:column;
      margin: 5%;
    background: transparent;
    padding: 2%;
    
        width: 80%;
    }

    .cardview .image img {
       border: 2px solid black;
       margin-top: 5% auto;
     width: 90%;

       
    }

    .cardview .image{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    
}